

<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="inner-content">
    <div class="img-logo ion-text-center">
      <img src="assets/img/coderope-logo-5.jpg" alt="">
    </div>
    <h1>Attendance App</h1>
    <div class="qr-btn ion-text-center ion-img">
      <ion-button class="custom-btn custom-button"(click)="showDetails()">
        <ion-icon name="keypad" ></ion-icon>
      </ion-button>
      <ion-button class="custom-btn custom-button" (click)="scan()">
        <ion-icon name="qr-code-outline"></ion-icon>
        <!-- <ion-icon name="qr-scanner"></ion-icon> -->
      </ion-button>
      <h2>Click to AnyOne</h2>
    </div>
  </div>
  <!-- <buttons ion-button (click)="scan()" class="custom-button">
     <ion-icon name="qr-code-outline"></ion-icon>Scan QR code</buttons> -->
</ion-content>
